*{
	margin: 0;
	padding: 0;
	background-color: #e2e2e2;
}
.openScreen{
	background: url(../img/open.png) no-repeat;
	margin-left: 5vw;
	width: 90vw;
	height: 100vh;
	background-size: 100% 100%;
}
.playGame{
	background: url(../img/openGame.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 13vw;
	height: 5vh;
	bottom: 10vh;
	right: 17vw;
	cursor: pointer;
}
.playGame:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.worldMap{
	background: url(../img/worldMap.png) no-repeat;
	margin-left: 5vw;
	width: 90vw;
	height: 100vh;
	background-size: 100% 100%;
}
.ItalyImg{
	background: url(../img/world-yidali.png) no-repeat;
	width: 12vw;
	height: 16vh;
	position: absolute;
	top: 16vh;
	left: 8vw;
	background-size: 100% 100%;
	cursor: pointer;
}
.ItalyImg:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.EgyptImg{
	background: url(../img/world-aiji.png) no-repeat;
	position: absolute;
	width: 7.5vw;
	height: 18vh;
	top: 46vh;
	left: 18vw;
	background-size: 100% 100%;
	cursor: pointer;
}
.EgyptImg:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.LndiaImg{
	background: url(../img/world-nidu.png) no-repeat;
	position: absolute;
	width: 9.5vw;
	height: 20vh;
	top: 44vh;
	left: 52vw;
	background-size: 100% 100%;
	cursor: pointer;
}
.LndiaImg:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.ChinaImg{
	background: url(../img/world-nibo.png) no-repeat;
	position: absolute;
	width: 7.5vw;
	height: 13vh;
	top: 37vh;
	left: 79vw;
	background-size: 100% 100%;
	cursor: pointer;
}
.ChinaImg:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.pigeonImg{
	background: url(../img/gezi.png);
	position: absolute;
	width: 5.5vw;
	height: 9vh;
	top: 12vh;
	left: 18vw;
	background-size: 100% 100%;
}
.pigeonImg:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.atlasImg{
	background: url(../img/atlasImg.png) no-repeat;
	background-size: 100% 100%;
	width: 11vw;
	height: 23vh;
	position: absolute;
	bottom: -1vh;
	left: 5vw;
	border-radius: 100px;
	cursor: pointer;
}
.atlasImg:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.atlasText{
	background-color: transparent;
	position: absolute;
	bottom: 2vh;
	left: 8.5vw;
	letter-spacing: 0.5vw;
	color: #635035;
	font-size: 10px;
	font-weight: bold;
}
.LndiaMap{
	background: url(../img/yinduMap.png) no-repeat;
	margin-left: 5vw;
	width: 90vw;
	height: 100vh;
	background-size: 100% 100%;
	transition-duration: 0.5s;
}

.cattleImg{
	background: url(../img/niu.png) no-repeat;
	position: absolute;
	width: 5.5vw;
	height: 9vh;
	top: 25vh;
	left: 26vw;
	background-size: 100% 100%;
	cursor: pointer;
}
.cattleImg:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.TajMahalImg{
	background: url(../img/littlegongdian.png) no-repeat;
	position: absolute;
	width: 7.5vw;
	height: 16vh;
	top: 46vh;
	left: 22vw;
	background-size: 100% 100%;
	cursor: pointer;
}
.TajMahalImg:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.LotusTempleImg{
	background: url(../img/lian.png) no-repeat;
	position: absolute;
	width: 7.5vw;
	height: 12vh;
	top: 75vh;
	left: 25vw;
	background-size: 100% 100%;
	cursor: pointer;
}
.LotusTempleImg:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.IndiaCateDelhiImg{
	background: url(../img/cate.png) no-repeat;
	position: absolute;
	width: 14.5vw;
	height: 25vh;
	top: 22vh;
	left: 45vw;
	background-size: 100% 100%;
	cursor: pointer;
}
.IndiaCateDelhiImg:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.AmberFortImg{
	background: url(../img/fort.png) no-repeat;
	position: absolute;
	width: 23.5vw;
	height: 22vh;
	top: 1vh;
	left: 25vw;
	background-size: 100% 100%;
	cursor: pointer;
}
.AmberFortImg:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.ElephantImg{
	background: url(../img/ele.png) no-repeat;
	position: absolute;
	width: 8.5vw;
	height: 15vh;
	top: 56vh;
	left: 37vw;
	background-size: 100% 100%;
	cursor: pointer;
}
.ElephantImg:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.zitherImg{
	background: url(../img/qin.png) no-repeat;
	position: absolute;
	width: 8.5vw;
	height: 25vh;
	top: 6vh;
	left: 68vw;
	background-size: 100% 100%;
	cursor: pointer;
}
.zitherImg:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.spicesImg{
	background: url(../img/xiangliao.png) no-repeat;
	position: absolute;
	width: 8.5vw;
	height: 18vh;
	top: 14.5vh;
	left: 12.5vw;
	background-size: 100% 100%;
	cursor: pointer;
}
.spicesImg:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.flaskImg{
	background: url(../img/hu.png) no-repeat;
	position: absolute;
	width: 5.5vw;
	height: 16vh;
	top: 34.5vh;
	left: 36.5vw;
	background-size: 100% 100%;
	cursor: pointer;
}
.flaskImg:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.spicesGressImg{
	background: url(../img/xiangliaocao.png) no-repeat;
	position: absolute;
	width: 11.5vw;
	height: 11vh;
	top: 22.5vh;
	left: 11.5vw;
	background-size: 100% 100%;
}
.flaskGressImg{
	background: url(../img/huGress.png);
	position: absolute;
	width: 7.5vw;
	height: 7vh;
	top: 44.5vh;
	left: 37.5vw;
	background-size: 100% 100%;
}
.completeFlaskImg{
	background: url(../img/hu.png);
	position: absolute;
	width: 5.5vw;
	height: 14vh;
	top: 5.7vh;
	left: 86.4vw;
	background-size: 100% 100%;
}
.completeSpicesImg{
	background: url(../img/xiangliao.png);
	position: absolute;
	width: 6vw;
	height: 12vh;
	top: 26.65vh;
	left: 86.4vw;
	background-size: 100% 100%;
}
.completeZitherImg{
	background: url(../img/qin.png);
	position: absolute;
	width: 8vw;
	height: 18vh;
	top: 43vh;
	left: 85.9vw;
	background-size: 100% 100%;
}

/*图例界面*/
#atlasCheese{
	background: url(../img/nailao.png) no-repeat;
	position: absolute;
	width: 6vw;
	height: 9vh;
	top: 4.65vh;
	left: 8.8vw;
	background-size: 100% 100%;
}
#atlasNoodle{
	background: url(../img/mian.png) no-repeat;
	position: absolute;
	width: 6vw;
	height: 9vh;
	top: 3.65vh;
	left: 16.8vw;
	background-size: 100% 100%;
}
#atlasShoes{
	background: url(../img/shoe.png) no-repeat;
	position: absolute;
	width: 6vw;
	height: 9vh;
	top: 3.65vh;
	left: 25.8vw;
	background-size: 100% 100%;
}
#atlasBlockImg{
	background: url(../img/atlas.png) no-repeat;
	position: absolute;
	width: 34vw;
	height: 46vh;
	top: 23.65vh;
	left: 30.8vw;
	background-size: 100% 100%;
}
#atlasZither{
	background: url(../img/qin.png) no-repeat;
	position: absolute;
	width: 5vw;
	height: 13vh;
	top: 30.65vh;
	left: 25.8vw;
	background-size: 100% 100%;
}
#atlasFlask{
	background: url(../img/hu.png) no-repeat;
	position: absolute;
	width: 5vw;
	height: 13vh;
	top: 30.65vh;
	left: 17.8vw;
	background-size: 100% 100%;
}
#atlasSpices{
	background: url(../img/xiangliao.png) no-repeat;
	position: absolute;
	width: 5vw;
	height: 13vh;
	top: 30.65vh;
	left: 9.8vw;
	background-size: 100% 100%;
}
#atlasReel{
	background: url(../img/reel.png) no-repeat;
	position: absolute;
	width: 5vw;
	height: 13vh;
	top: 15.65vh;
	left: 26.8vw;
	background-size: 100% 100%;
}
#atlasPot{
	background: url(../img/pot.png) no-repeat;
	position: absolute;
	width: 8vw;
	height: 17vh;
	top: 11.65vh;
	left: 5.8vw;
	background-size: 100% 100%;
}
#atlasCamel{
	background: url(../img/camel1.png) no-repeat;
	position: absolute;
	width: 7vw;
	height: 13vh;
	top: 15.65vh;
	left: 16.8vw;
	background-size: 100% 100%;
}




.littleBoat{
	width: 11vw;
	height: 19vh;
	top: 20vh;
	left: 9vw;
	position: absolute;
	background-color: transparent;
}
/*小船在目标地图里的运动*/
.littleBoatInLndia{
	background-color: transparent;
	width: 11vw;
	height: 19vh;
	top: 80vh;
	left: 38.8vw;
	position: absolute;
	background-size: 100% 100%;
	animation-timing-function:linear;
	animation-iteration-count:1;
	animation-fill-mode: forwards;
	animation-name:LndiaBoat;
	animation-duration:3s;
}
@keyframes LndiaBoat{
	0%{
		top: 80vh;
		left: 38.8vw;
	}
	40%{
		top: 59.65vh;
		left: 44.8vw;
	}
	100%{
		top: 30.65vh;
		left: 57.8vw;
	}
}

.backButton{
	background: url(../img/tuige.png) no-repeat;
	width: 3vw;
	height: 4vh;
	top: 1vh;
	left: 6vw;
	position: absolute;
	background-size: 100% 100%;
	cursor: pointer;
	background-color: transparent;
}
.gameText{
	width: 7vw;
	height: 8.5vh;
	line-height: 3.5vh;
	top: 90vh;
	left: 81.5vw;
	position: relative;
	font-size: x-small;
	color: #53432f;
	background-color: transparent;
	
}
.gameButton{
	width: 6vw;
	height: 9vh;
	background-color: transparent;
	position: absolute;
	top: 80vh;
	left: 87vw;
	cursor: pointer;
}
.selectPerson{
	width: 54vw;
	height: 57vh;
	background: url(../img/selectPerson.png) no-repeat;
	background-size: 100% 100%;
	top: 24vh;
	left: 27vw;
	position: absolute;
	background-color: transparent;
}
.selectPersonText{
	width: 13vw;
	height: 4vh;
	background: url(../img/text.png) no-repeat;
	background-size: 100% 100%;
	top: 2vh;
	left: 16vw;
	position: absolute;
	background-color: transparent;
}
.maizhelun{
	width: 7.5vw;
	height: 42vh;
	background: url(../img/mai.png) no-repeat;
	background-size: 100% 100%;
	top: 9vh;
	left: 10vw;
	position: absolute;
	background-color: transparent;
	cursor: pointer;
}
.zhenghe{
	width: 8vw;
	height: 42vh;
	background: url(../img/zhenghe.png) no-repeat;
	background-size: 100% 100%;
	top: 9vh;
	left: 26vw;
	position: absolute;
	background-color: transparent;
	cursor: pointer;
}

.spicesKnow{
	width: 35vw;
	height: 50vh;
	top: 24vh;
	left: 18vw;
	background: url(../img/xiangliaoIntro.png) no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	position: absolute;
	z-index: 2;
}
.zitherKnow{
	width: 35vw;
	height: 50vh;
	top: 24vh;
	left: 35vw;
	background: url(../img/qinIntro.png) no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	position: absolute;
	z-index: 2;
}
.flaskKnow{
	width: 35vw;
	height: 50vh;
	top: 45vh;
	left: 41vw;
	background: url(../img/huIntro.png) no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	position: absolute;
	z-index: 2;
}
.TajMahalKnow{
	width: 35vw;
	height: 50vh;
	top: 51vh;
	left: 28vw;
	background: url(../img/taijilinIntro.png) no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	position: absolute;
	z-index: 2;
}
.LotusTempleKnow{
	width: 35vw;
	height: 50vh;
	top: 28vh;
	left: 28vw;
	background: url(../img/lianIntro.png) no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	position: absolute;
	z-index: 2;
}
.IndiaCateDelhiKnow{
	width: 35vw;
	height: 50vh;
	top: 38vh;
	left: 15vw;
	background: url(../img/yindumenIntro.png) no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	position: absolute;
	z-index: 2;
}
.AmberFortKnow{
	width: 35vw;
	height: 50vh;
	top: 16vh;
	left: 40vw;
	background: url(../img/hupobaoIntro.png) no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	position: absolute;
	z-index: 2;
}


/*中国地图界面*/
.littleBoatInChina{
	background-color: transparent;
	width: 11vw;
	height: 19vh;
	top: 77vh;
	left: 83.8vw;
	position: absolute;
	background-size: 100% 100%;
	animation-timing-function:linear;
	animation-iteration-count:1;
	animation-fill-mode: forwards;
	animation-name:ChinaBoat;
	animation-duration:3s;
}
@keyframes ChinaBoat{
	0%{
		top: 77vh;
		left: 83.8vw;
	}
	100%{
		top: 30vh;
		left: 71.8vw;
	}
}
.ChinaMap{
	background: url(../img/nibo.png) no-repeat;
	margin-left: 5vw;
	width: 90vw;
	height: 100vh;
	background-size: 100% 100%;
}
.huizhan{
	width: 39vw;
	height: 40vh;
	top: 15vh;
	left: 31vw;
	background: url(../img/center.png) no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	position: absolute;
	cursor: pointer;
}
.qingan{
	width: 15vw;
	height: 21vh;
	top: 51vh;
	left: 7vw;
	background: url(../img/qingan.png) no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	position: absolute;
	cursor: pointer;
}
.qita{
	width: 17vw;
	height: 24vh;
	top: 61vh;
	left: 34vw;
	background: url(../img/qita.png) no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	position: absolute;
	cursor: pointer;
}
.tianfeng{
	width: 13vw;
	height: 36vh;
	top: 4vh;
	left: 11vw;
	background: url(../img/tianta.png) no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	position: absolute;
	cursor: pointer;
}
.ayuwang{
	width: 14vw;
	height: 16vh;
	top: 9vh;
	left: 31vw;
	background: url(../img/ayuwang.png) no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	position: absolute;
	cursor: pointer;
}
.ningboGress{
	width: 31vw;
	height: 52vh;
	top: 19.5vh;
	left: 17vw;
	background: url(../img/niboGress.png) no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	position: absolute;
}
.qingan:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.huizhan:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.qita:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.ayuwang:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}
.tianfeng:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.5s;
}

.qinganKnow{
	width: 35vw;
	height: 50vh;
	top: 49vh;
	left: 20vw;
	background: url(../img/qinanIntro.png) no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	position: absolute;
	z-index: 2;
}
.qitaKnow{
	width: 35vw;
	height: 50vh;
	top: 52vh;
	left: 50vw;
	background: url(../img/qitaIntro.png) no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	position: absolute;
	z-index: 2;
}
.tianfengKnow{
	width: 35vw;
	height: 50vh;
	top: 26vh;
	left: 20vw;
	background: url(../img/tiantongIntro.png) no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	position: absolute;
	z-index: 2;
}
.ayuwangKnow{
	width: 35vw;
	height: 50vh;
	top: 19vh;
	left: 41vw;
	background: url(../img/ayuwangIntro.png) no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	position: absolute;
	z-index: 2;
}

/*结束界面*/
.finishMap{
	background: url(../img/over.png);
	margin-left: 5vw;
	width: 90vw;
	height: 100vh;
	background-size: 100% 100%;
}
.finishImg{
	position: relative;
	width: 90vw;
	height: 100vh;
}

.game{
	width: 40vw;
	height: 60vh;
	top: 26vh;
	left: 25vw;
	background-color: transparent;
	position: absolute;
	z-index: 3;
	cursor: pointer;
}
.gameZitherLeft{
	background-color: transparent;
	width: 6vw;
	height: 7vh;
	position: absolute;
	top: 31vh;
	left: 9vw;
	cursor: pointer;
}
.gameFlaskLeft{
	background-color: transparent;
	width: 3vw;
	height: 10vh;
	position: absolute;
	top: 20vh;
	left: 10vw;
	cursor: pointer;
}
.gameSpicesLeft{
	background-color: transparent;
	width: 6vw;
	height: 7vh;
	position: absolute;
	top: 41vh;
	left: 9vw;
	cursor: pointer;
}
.gameZitherRight{
	background-color: transparent;
	width: 7.7vw;
	height: 5vh;
	position: absolute;
	top: 41vh;
	left: 23vw;
	cursor: pointer;
}
.gameSpicesRight{
	background-color: transparent;
	width: 7.7vw;
	height: 5vh;
	position: absolute;
	top: 22vh;
	left: 23vw;
	cursor: pointer;
}
.gameFlaskRight{
	background-color: transparent;
	width: 7.7vw;
	height: 5vh;
	position: absolute;
	top: 31.5vh;
	left: 23vw;
}
.zitherLine{
	background-color: transparent;
	width: 7.7vw;
	height: 12vh;
	position: absolute;
	top: 32.5vh;
	left: 15vw;
}
.flaskLine{
	background-color: transparent;
	width: 9.7vw;
	height: 12vh;
	position: absolute;
	top: 23.5vh;
	left: 13vw;
}
.spicesLine{
	background-color: transparent;
	width: 7.7vw;
	height: 23vh;
	position: absolute;
	top: 23.5vh;
	left: 14vw;
}

/*意大利地图界面*/
.littleBoatInItaly{
	background-color: transparent;
	width: 11vw;
	height: 19vh;
	top: 77vh;
	left: 14.8vw;
	background-size: 100% 100%;
	position: absolute;
	animation: ItalyBoat 4s linear forwards;
}
@keyframes ItalyBoat{
	0%{
		top: 77vh;
		left: 14.8vw;
	}
	60%{
		top: 50vh;
		left: 41.8vw;
	}
	100%{
		top: 30vh;
		left: 30.8vw;
	}
}
.gameManButton{
	background-color: transparent;
	width: 8vw;
	height: 6vh;
	position: absolute;
	top: 33vh;
	left: 9vw;
}
.gameWomanButton{
	background-color: transparent;
	width: 8vw;
	height: 6vh;
	position: absolute;
	top: 33vh;
	left: 21.5vw;
}

.ItalyMap{
	background: url(../img/yidali.png);
	margin-left: 5vw;
	width: 90vw;
	height:100vh;
	background-size: 100% 100%;
}
.mian{
	position: absolute;
	top:34.5vh;
	left:49.5vw;
	width: 8vw;
	height: 16vh;
	cursor: pointer;
	background-color: transparent;
}
 .mian:hover{
	transform: scale(1.1,1.1);
 }
 .shoes{
	 position: absolute;
	 top:59.7vh;
	 left:64vw;
	 width: 6vw;
	 height: 11vh;
	 cursor: pointer;
	 background-color: transparent;
 }
 .shoes:hover{
	transform: scale(1.1,1.1);
	}
 .cheese{
	 position: absolute;
	 top:66vh;
	 left:19vw;
	 width: 6vw;
	 height: 9vh;
	 cursor: pointer;
	 background-color: transparent;
 }
 .cheese:hover{
	transform: scale(1.1,1.1);
 }
 .datang{
	 position: absolute;
	 top:15vh;
	 left:38.5vw;
	 width: 16vw;
	 height: 20vh;
	 cursor: pointer;
	 background-color: transparent;
 }
  .datang:hover{
	transform: scale(1.1,1.1);
 }
 .tower{
	 position: absolute;
	 left:66vh;
	 top:-1.7vw;
	 width: 9vw;
	 height: 32vh;
	 cursor: pointer;
	 background-color: transparent;
 }
 .tower:hover{
	transform: scale(1.1,1.1);
 } 
 .jiaotang{
	 position: absolute;
	 top:32vh;
	 left:20.5vw;
	 width: 9vw;
	 height: 33vh;
	 cursor: pointer;
	 background-color: transparent;
 }
 .jiaotang:hover{
	transform: scale(1.1,1.1);
 }
 .Rome{
	 position: absolute;
	 bottom:40.5vh;
	 left:63vw;
	 width: 12vw;
	 height: 17vh;
	 cursor: pointer;
	 background-color: transparent;
 }
 .Rome:hover{
	transform: scale(1.1,1.1);
 }
 
 .grass{
	 background: url(../img/littlegress.png) no-repeat;
	 position: absolute;
	 right: 31vw;
	 top:45vh;
	 width: 47vw;
	 height: 31vh;
	 background-size: 100% 100%;
	 background-color: transparent;
 }
 .xie1{
	 position: absolute;
	 right: 5vw;
	 top:8.22vh;
	 width: 8vw;
	 height: 9vh;
	 display: none;
	 background-color: transparent;
 }
 .mian1{
	 width: 9vw;
	 height: 12vh;
	 position: absolute;
	 right:4.7vw;
	 top:23.6vh;
	 display: none;
	 background-color: transparent;
 }				 
 .cheese1{
	 position: absolute;
	 right:5.9vw;
	 top:43vh;
	 width: 8.7vw;
	 height: 11vh;
	display: none;
	background-color: transparent;
 }
 .Rome1{
	 position: absolute;
	 bottom:27vh;
	 right:35vw;
	 width: 35vw;
	 height: 50vh;
	 display: none;
	 background-color: transparent;
 }
 .pisa{
	 position: absolute;
	 top:50vh;
	 right:37vw;
	 width: 35vw;
	 height: 50vh;
	 display: none; 
	 background-color: transparent;
}
.towerintroduce{
	position: absolute;
	bottom:40vh;
	right:27vw;
	width: 35vw;
	height: 50vh;
	display: none;
	background-color: transparent;
}
.church{
	position: absolute;
	bottom:25vh;
	right:14vw;
	width: 35vw;
	height: 50vh;
	display: none;
	background-color: transparent;
}
.shoesintroduce{
	position: absolute;
	top:13vh;
	right:34vw;
	width: 35vw;
	height: 50vh;
	display: none;
	background-color: transparent;
}
.cheeseintroduce{
	position: absolute;
	top:34vh;
	left:24vw;
	width: 35vw;
	height: 50vh;
	display: none;
	background-color: transparent;
}
.mianintroduce{
	position: absolute;
	bottom:36vh;
	right:7vw;
	width: 35vw;
	height: 50vh;
	display: none;
	background-color: transparent;
}

/*埃及界面*/
.EgyptMap{
 background: url(../img/Egyptmap.png) no-repeat;
 margin-left: 5vw;
 width: 90vw;
 height:100vh;
 background-size: 100% 100%;
}
.pyramid{
background-color: transparent;
 position: absolute;
 top:26vh;
 left:31vw;
 width:18vw;
 height:15vh;
 cursor: pointer;
}
.pyramid:hover{
 transform: scale(1.1,1.1);
}
.pyramidintroduce{
	background-color: transparent;
 position: absolute;
 top:13vh;
 left:40vw;
 width:35vw;
 height:50vh;
 display: none;
}
.shrine{
	background-color: transparent;
 position: absolute;
 top:59vh;
 left:30.5vw;
 width:17.5vw;
 height:16.6vh;
 cursor: pointer;
}
.shrine:hover{
 
 transform: scale(1.1,1.1);
}
.shrineintroduced{
	background-color: transparent;
	 position: absolute;
	 bottom:20vh;
	 left:50vw;
	 width:35vw;
	 height:50vh;
	 display: none;
}
.temple{
	background-color: transparent;
	 position: absolute;
	 top:35vh;
	 right:22vw;
	 width:19vw;
	 height:16.9vh; 
	 cursor: pointer;
}
.temple:hover{
 transform: scale(1.1,1.1);
}
.templeintroduce{
	background-color: transparent;
 position: absolute;
 bottom:27vh;
 left:30vw;
width:35vw;
height:50vh;
 display: none;
}
.simble{
	background-color: transparent;
	 position: absolute;
	 bottom:8vh;
	 left:18vw;
	 width:18vw;
	 height:16vh;
	 cursor: pointer;
}
.simble:hover{
 transform: scale(1.1,1.1);
}
.simbleintroduce{
	background-color: transparent;
	 position: absolute;
	 top:25vh;
	 left:20vw;
	width:35vw;
	height:50vh;
	 display: none;
}
.reel{
	background-color: transparent;
	 position: absolute;
	 top:22.5vh;
	 left:14vw;
	width:9vw;
	height:18vh; 
	cursor: pointer;
}
.reel:hover{

 transform: scale(1.1,1.1);
}
.reelintroduce{
	background-color: transparent;
	 position: absolute;
	 bottom:37vh;
	 right:40vw;
	 width:35vw;
	 height:50vh;
	 display: none;
}
.reelright{
	background-color: transparent;
	position: absolute;
	top:5vh;
	right:5.3vw;
	width:6.6vw;
	height:12vh; 
	display: none;
}

.camel{
	background-color: transparent;
	position: absolute;
	bottom:20vh;
	right:32vw;
	width:15vw;
	height:15vh; 
	cursor: pointer;
}
.camel:hover{
 transform: scale(1.1,1.1);
}
.camelintroduce{
	background-color: transparent;
	 position: absolute;
	 bottom:37vh;
	 right:40vw;
	 width:35vw;
	 height:50vh;
	 display: none;
}
.camelright{
	background-color: transparent;
	 position: absolute;
	 top:43vh;
	 right:5.7vw;
	width:6.6vw;
	height:12vh; 
	 display: none;
}
.pot{
	background-color: transparent;
	position: absolute;
	bottom:40vh;
	right:48vw;
	width:9vw;
	height:20vh; 
	cursor: pointer;
}
.pot:hover{
 transform: scale(1.1,1.1);
}
.potintroduce{
	background-color: transparent;
	 position: absolute;
	 bottom:37vh;
	 right:60vw;
	 width:35vw;
	 height:50vh;
	 display: none;
}
.potright{
	background-color: transparent;
	 position: absolute;
	 top:16.7vh;
	 right:6.0vw;
	 width:9.7vw;
	 height:20.5vh;  
	 display: none;
}
.grasses{
	background-color: transparent;
	position: absolute;
	top:53vh;
	right:35vw;
	width:16.5vw;
	height:30vh;
}
.tree{
	background-color: transparent;
 position: absolute;
  top:18vh;
  right:36vw;
 width:46vw;
 height:52vh;
}
.littleBoatInEgypt{
	background-color: transparent;
	width: 11vw;
	height: 19vh;
	top: -9vh;
	left: 11vw;
	position: absolute;
	background-size: 100% 100%;
	animation-timing-function:linear;
	animation-iteration-count:1;
	animation-fill-mode: forwards;
	animation-name:EgyptBoat;
	animation-duration:3s;
}
@Keyframes EgyptBoat{
	0%{
		top: -9vh;
		left: 11vw;
	}
	100%{
		top: 1vh;
		left: 47vw;
	}
}
.gameLeftTopButton{
	background-color: transparent;
	position: absolute;
	top: 26.5vh;
	left: 11vw;
	width: 9vw;
	height: 6vh;
}
.gameLeftBottomButton{
	background-color: transparent;
	position: absolute;
	top: 38vh;
	left: 11vw;
	width: 9vw;
	height: 6vh;
}
.gameRightTopButton{
	background-color: transparent;
	position: absolute;
	top: 26.5vh;
	left: 22vw;
	width: 9vw;
	height: 6vh;
}
.gameRightBottomButton{
	background-color: transparent;
	position: absolute;
	top: 38vh;
	left: 22vw;
	width: 9vw;
	height: 6vh;
}
